/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.section {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-section {
  min-height: 60vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chartContainer {
  height: 30rem !important;
}

.section-middle-text {
  text-align: center;
  width: 60%;
  min-width: 300px;
}

.particles-bg {
  position: fixed !important;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: 50% 50%;
}

.card {
  max-width: 900px;
  margin: 3rem 0 3rem 0;
  padding: 1.5em;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
} 

.card-image {
  width: 80%; 
  max-width: 300px;
}

.App-header {
  /* background-color: #d1d1d1; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}